.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(220, 87, 96);
}

figure {
    width: 50%;
    height: 500px;
    background-size: cover;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.sponsors{
    
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100%;
}

h1{
    font-size: 45px;
    margin-left: 10%;
    color: rgb(18, 12, 12);
    padding: 40px;
}
p{
   font-size: 18px;
   margin-left: 20%;
   color: rgb(13, 9, 9);
 
}
.sponsors1{
    margin-left: 20px;
 }
 