*{
padding: 0px;
margin: 0px;
box-sizing: border-box;

    color:rgb(14, 13, 11);
    
    font-size: 16px;
}
body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
background-color: lightgrey;
}
header{
font-family: Arial, Helvetica, sans-serif;
color: black;
}
#header{

    border: 1px solid rgb(182, 42, 42);
    
    font-size: 16px;
    
    }
.navigator li,a{
    list-style-type: none;
    text-decoration: none;
    color: darkblue;
}

ol{
    font-size: 9px;
    color: bisque;
}
.container{

    margin: 0px;
    
    width: 12px;
    
    }
    Input[type=“text”] {

        font-size: 10px;
        
            line-height: 1.2;}